
<%- include("partials/header")%>
<div class="ui main text container segment">
    <div class="ui huge header">Edit Blog : <%=blog.title%></div>
    <form class="ui form" action="/blogs/<%= blog._id %>?_method=PUT" method="POST">
       
        <label>Title</label>
        <div class="field"><input type ="text" name="blog[title]" value=<%= blog.title %> >
        </div>
        <label>Image</label>
        <div class="field"> <input type ="text" name="blog[image]" value=<%= blog.image %>>
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea name="blog[body]" ><%= blog.body %></textarea>

        </div>
        
        <div class="field"><input class=" big positive ui button" type ="submit"></div>
        
    </form>
</div>

<%- include("partials/footer")%>