<%- include("partials/header")%>

<div style="background-image:url(https://wallpaperaccess.com/full/39033.png); padding-top: 20em; " class="ui main text container">
    <div style=" padding-bottom: 1em;padding-left: 4.6em; padding-right: 5.99em; margin-left: 1em; font-size: 5.5em;  color:rgb(251, 168, 73);" class="ui huge header">   <div style="background-color: rgb(245, 250, 250);">Anime BlogSite</div></div>
  
    <div class="ui top attached segment">
        <div  class="ui divided items">
            <% blogs.forEach(function(blog){ %>
                <div class="item">
                    <div style="width: 36%;" class="image">       
                        <img src="<%= blog.image %>">
                    </div>
                    <div class="content">
                        <a style="font-size: 26px;" class="header" href="/blogs/<%=blog._id%>"><%=blog.title %></a>
                        <div class="meta">
                            <span><%= blog.created.toDateString() %></span>
                        </div>
                        <div class="description" style="max-width: 960px;">
                            <p style="font-size: 17px;"><%- blog.body.substring(0,200)%>...</p> 
                        </div>
                        <div class="extra">
                            <a class="ui floated  blue button" href="/blogs/<%=blog._id%>">
                                Read More
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>


 
<%- include("partials/footer")%>